body {
    background: #eeedec;
    letter-spacing: 0, 2em;
    font-size: 0.8em;
}

.container {
    max-width: 400px;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}

.btn {
    margin-top: 0.3rem;
    outline: none;
    background: rgb(173, 171, 171);
    color: #eeedec;
    line-height: 1.5;
}